body {
			font-size: 150%;
			text-align: left;
}
#full_page{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background: rgba(150,150,150,1);
}
#head{
	width: 100%;
	height:5%;
	background-color: rgb(100,100,100);
}
#menu{
	border solid #C0C0C0;
	width: 15%;
	height: 100%;
	background-color: rgb(100,100,100);
	float: left;
}
#workspace{
	float: right
}
h1{
		color: blue;
}
da{
	color: red;
	font-family: verdana;
}